@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}
html {
	overflow-y: scroll;
}

body {
	background: #FFFFFF;
	font-family: 'Roboto Condensed', sans-serif; 
	font-weight: 400;
	font-size: 15px;
	margin:0;
	padding:0;
	height:100%;
}

a:link, a:visited {
    text-decoration: none;
	outline: none
}

a:hover {
    text-decoration: none;
}

a:active {
    color: #12EB87;
	outline: none
}

.anchor, .edit-patient {
	color: #006CD9 !important; 
}

.anchor:hover, .edit-patient:hover {
	color: #001966 !important;
	cursor: pointer;
}

.error {
	color: #FF0000;
}

div.ui-datepicker{
 font-size:12px;
}

div.grid {
    display: inline;
	width: 100%;
	overflow: auto;
	padding: 10px 0px;
	margin-bottom: 10px;
}

div.grid > div.head {
	display: inline;
}

div.grid > div.head > div {
	display: inline;
	padding: 0px 20px;
}

input[type=text], input[type=password] {
	background: #E6E6E6;
	display: block;
	margin: 0 0 10px 0;
	border: 1px inset #CECECE;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
    border-radius: 1px;
	padding: 8px;
}

input[type=submit]{
    line-height: 1em;
	border: none;
	margin-right: 1em;
	padding: 10px;
	background: #CDCDCD;
	color: #000000;
	text-decoration: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    border-radius: 4px;
	-moz-box-shadow: 0 1px 0 #000000;
	-webkit-box-shadow: 0 1px 1px #000000;
    box-shadow: 0 1px 0 #000000;
	height: 36px;
}

input[type=submit]:hover{
	cursor: pointer;
	background: #E3E3E3;
	
}

.p-select {
	width: 200px;
}

.c-select select {
	background: transparent;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 34px;
	-webkit-appearance: none;
}

.c-select {
	width: 257px;
	height: 28px;
	overflow: hidden;
	background: url(../../images/select_arrow.jpg) no-repeat right #E6E6E6;
	border: 1px inset #CECECE;
	-webkit-appearance: none;
}

#mainWrap {
	background: #999999;
	margin: 0px auto;
	min-width: 1080px;
	max-width: 1920px;
    -moz-box-shadow: 0px 0px 3px 1px #000000;
	-webkit-box-shadow: 0px 0px 3px 1px #000000;
	box-shadow: 0px 0px 3px 1px #000000;
}
/* header & logo*/
#header {
	background: url('../../images/black-bg.jpg');
	min-height: 180px;
	min-width: 1080px;
}

#logo {
	margin: 5px 0px 5px 20px;
	float: left;
}
#header .mission {
	color: #FFFFFF;
	float: right;
	margin: 40px;
	font-size: 24px;
	font-style: italic;
}

/* header bar */
#header-bar {
	background : #8C0000;
	height : 35px;
	margin : 0 auto 0 auto;
	padding: 0 20px 0 20px;
	border-bottom: #000000 solid 1px;
	background-image: -webkit-gradient(linear, left top, left top, color-stop(0.33, #8C0000), color-stop(0.66, #A80000), color-stop(1, #8C0000));
	background-image: -o-linear-gradient(top,  #8C0000 33%, #A80000 66%, #8C0000 100%);
	background-image: -moz-linear-gradient(top, #8C0000 33%, #A80000 66%, #8C0000 100%);
	background-image: -webkit-linear-gradient(top,  #8C0000 33%, #A80000 66%, #8C0000 100%);
	background-image: -ms-linear-gradient(top,  #8C0000 33%, #A80000 66%, #8C0000 100%);
	background-image: linear-gradient(to top, #8C0000 33%, #A80000 66%, #8C0000 100%);
}
#header-bar > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#header-bar > ul > li {
	position: relative;
	float: left;
	z-index: 1;
}
#header-bar > ul > li > a {
	color: #e9e9e9;
	text-decoration: none;
	display: block;
	padding: 8px 9px 8px 9px;
	text-align: center;
}

#header-bar .time {
	color: #FFFFFF;
	padding: 8px 9px 8px 9px;
	float: right;
}

/* content */
#content {
	width: 1080px;
	margin: 0px auto;
	min-height: 520px;
}

#content .content {
	width: 1080px;
	margin: 0px auto;
}

#content .content .box {
	border-radius : 7px;
	margin: 5px 5px 0px 5px;
	padding: 10px;
	border : #000000 solid 1px;
	background: #FFFFFF;
	width: 1050px;
	line-height:100%;
}

#content .content .left-box {
	border-radius : 7px;
	margin: 5px 0px 5px 5px;
	border : #000000 solid 1px;
	padding : 10px;
	background: #FFFFFF;
	float:left;
	min-height: 445px;
	width: 60%;
}
#content .content .left-box ul, #content .content .right-box ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#content .content .left-box > ul > li > a, #content .content .right-box > ul > li > a  {
	color: #000000;
	text-decoration: none;
	display: block;
	padding: 8px 9px 8px 9px;
	text-align: left;
}
#content .content .left-box > ul > li > a:hover, #content .content .right-box > ul > li > a:hover {
	color: #4E4E4E;
	text-decoration: underline;
}

#content .content .right-box {
	border-radius : 7px;
	margin: 5px 5px 5px 0px;
	border : #000000 solid 1px;
	padding : 10px;
	background: #FFFFFF;
	float:right;
	min-height: 445px;
	width: 34%;
}

.dialogs {
	font-family: 'Roboto Condensed', sans-serif; 
	font-weight: 400;
}

/*tabs*/
#tabs { 
    padding: 0; 
    background: none; 
    border-width: 0px;
	margin: 5px;
} 
#tabs .ui-tabs-nav {
	font-family: 'Roboto Condensed', sans-serif; 
	font-weight: 400;
	font-size: 16px;
    padding: 0px;
    background: transparent; 
    border-width: 0px 0px 1px 0px;
	border-bottom: #000000 1px solid;	
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px;
}
#tabs .ui-tabs-nav .ui-state-active {
	background: #FFFFFF;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
}

#tabs .ui-tabs-panel {
	font-family: 'Roboto Condensed', sans-serif; 
	font-weight: 400;
	font-size: 15px;
    background: #ffffff; 
    border-width: 0px 1px 1px 1px; 
	border-right: #000000 1px solid;
	border-bottom: #000000 1px solid;
	border-left: #000000 1px solid;
	min-height: 400px;
	padding: 20px 0px;
}

#tabs .box {
    margin: 10px;
	padding: 10px;
	border: #000000 1px solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#tabs .left {
	width: 600px;
	display: inline-block;
	margin: 20px 0px 10px 10px;
	padding: 10px;
	border: #000000 1px solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#tabs .right {
    width: 385px;
	display: inline-block;
	margin: 20px 10px 10px 10px;
	padding: 10px;
	border: #000000 1px solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    float:right;
}

/* tables */
.tables {
	width: 100%;
	border-collapse:collapse;
}

.tables .left {
	width: 250px;
    text-align: left;
	padding: 5px;
}

.tables .right {
    text-align: left;
	padding: 5px;
}

.tables .center {
    text-align: center;
	padding: 5px;
}

.tables .patient {
    text-align: left;
	padding: 5px;
	width: 200px;
	border: none;
}

.tables .header {
	width: 60px;
    text-align: left;
	padding: 5px;
}

/* footer */
#footer {
	clear: both;
	min-width: 1080px;
	min-height: 220px;
	height: 100%;
	background: url('../../images/black-bg.jpg');
	margin: 0px auto;
	border-top: #000000 solid 1px;
	overflow: hidden;
	color: #FFFFFF;
}
#footer .bar {
	background : #8C0000;
	height : 35px;
	margin : 0 auto 0 auto;
	background-image: -webkit-gradient(linear, left top, left top, color-stop(0.33, #8C0000), color-stop(0.66, #A80000), color-stop(1, #8C0000));
	background-image: -o-linear-gradient(top,  #8C0000 33%, #A80000 66%, #8C0000 100%);
	background-image: -moz-linear-gradient(top, #8C0000 33%, #A80000 66%, #8C0000 100%);
	background-image: -webkit-linear-gradient(top,  #8C0000 33%, #A80000 66%, #8C0000 100%);
	background-image: -ms-linear-gradient(top,  #8C0000 33%, #A80000 66%, #8C0000 100%);
	background-image: linear-gradient(to top, #8C0000 33%, #A80000 66%, #8C0000 100%);
}
#footer .footer {
	width: 1080px;
	margin: 0px auto;
	padding: 20px 0px;
}
#footer .footer .sides {
	float:left; 
	width:150px;
	text-align:left;
}

#footer .footer .sides h3 {
	font-size : 18px;
	text-align: center;
	text-transform : uppercase;
	margin : 10px 10px 10px 10px;
	padding-bottom : 15px;
	background: url(../../images/border.png) 0 100% repeat-x scroll transparent;
}

#footer .footer .center {
	float:left; 
	width:400px; 
	text-align:center;
}

#footer .footer .sides {
	float:left; 
	width:30%; 
	text-align:center;
}

#footer .footer .sides > ul {
	list-style-type:circle;
	text-align: center;
}

#footer .footer .sides a {
	color: #FFFFFF;
	text-decoration: none;
}

#footer .footer .sides a:hover{
	color: #E6E6E6;
	text-decoration: underline;
}


/* jQuery Changes */

